/* login form */

.login_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--navbar_color);
    padding: 50px;
    width: 500px;
    min-width: 400px;
    border: 2px solid var(--border_light);
    border-radius: 30px;
}

.login_wrapper .title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.login_wrapper .login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_wrapper .input_box {
    position: relative;
    margin-top: 20px;
    padding-left: 20px;
    width: 95%;
    height: 50px;
    font-size: 16px;
    background: transparent;
    outline: none;
    color: white;
    transition: all 0.3s ease 0s;
    border: 2px solid rgba(255, 255, 255,  .3);
    border-radius: 10px;
}

.login_wrapper .incorrect {
    border-color: rgba(var(--red_button), .7);
}

.login_wrapper .input_box:focus,
.login_wrapper .input_box:hover {
    border-color: white;
    color: white;
}

.login_wrapper .input_box::placeholder {
    color: rgba(255, 255, 255,  .3);
}

.login_wrapper i {
    position: absolute;
    right: 69px;
    margin: 39.5px 0;
}

.login_wrapper .remember_message {
    display: flex;
    justify-content: space-between;
}

.login_wrapper .remember_message .remember_me {
    font-size: 17px;
    width: 144px;
    transition: all 0.3s ease 0s;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.login_wrapper .remember_message .remember_me:hover {
    color: rgba(255, 255, 255, 1);
}

.login_wrapper .remember_message .message {
    color: rgba(var(--red_button), .9);
    font-weight: normal;
    font-size: 17px;
}

.login_wrapper .login_btn {
    text-decoration: none;
    transition: all 0.4s ease 0s;
    font-size: 20px;
    padding: 10px;
    color: var(--navbar-color);
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.login_wrapper .login_btn:hover {
    background-color: var(--hover_bg_color);
    border-color: var(--hover_bg_color);
    color: white;
}

.login_wrapper .register {
    font-size: 17px;
    display: flex;
    color: white;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0px;
    cursor: default;
}

.login_wrapper .ques li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.login_wrapper .signup {
    font-size: 17px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    transition: all 0.3s ease 0s;
    color: rgba(255, 255, 255,  .5);
}

.login_wrapper .signup:hover {
    color: white; 
}

