/* Navbar  */

.navbar {
    padding: 0px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--navbar_color) ;
    vertical-align: middle;
    height: 87px;
    z-index: 999;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    padding: 20px;
    margin-bottom: 0px;
    justify-content: center;
    gap: 20px;
}

.navbar .nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    list-style-type: none;
    padding-left: 10px;
    user-select: none;
}

.navbar .nav_links li {
    margin-top: 3px;
    vertical-align: middle;
    padding-right: 20px;
}

.navbar .nav_links span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.navbar .nav_links span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    text-decoration: none;
    background-color: rgb(var(--primary));
}

.navbar .nav_links span:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .nav_links span:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
}

.navbar .nav_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-right: 13px;
    gap: 13px;
    margin-left: auto;
    z-index: 999;
}

.navbar .nav_btns li {
    list-style-type: none;
    font-size: 25px;
}


/* Dropdown */
.dropdown {
    position: relative;
    display: block;
    right: 112px;
    user-select: none;
    transition-property: margin-top;
    transition: all .5s;
    z-index: -1;
}

.dropdown .menu {
    position: absolute;
    display: block;
    width: 210px;
    padding: 13px;
    padding-right: 15px;
    padding-top: 0;
    margin-top: 79px;
    margin-right: 110px;
    left: -201px;
    background-color: var(--navbar_color);
    border: 2px solid var(--border_light);
    border-radius: 0 0 var(--radius) var(--radius);
    color: white;
    transition: all 0.3s;
}

.dropdown .menu li {
    position: relative;
    display: flex;
    transition: all 0.3s ease 0s;
    width: 100%;
    padding-top: 0px;
    margin: 10px 0 0 0;
    color: white;
    border-radius: 0.3rem;
    border: 2px solid rgb(var(--secondary));
}

.dropdown ul li i {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 0;
    color: rgb(var(--secondary));
}

.dropdown .menu li .label {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: rgb(var(--secondary));
    transition: all 0.3s ease 0s;
    border-radius: 0.6rem;
}

.dropdown .menu li:hover {
    background-color: rgb(var(--primary));
    box-shadow: 0 0 10px 1px rgb(var(--primary));
    border-color: rgb(var(--primary));
    color: white;
    cursor: pointer;
}

.dropdown .menu li:hover .label, 
.dropdown .menu li:hover i {
    color: white;
}


/* Logout */
.logout {
    position: absolute;
    right: 0px;
    top: 80px;
    transition-property: margin-top;
    transition: all .5s;
    z-index: -1;
}

.logout_menu {
    display: grid;
    padding: 13px;
    background-color: var(--navbar_color);
    border-radius: 0 0 0 var(--radius);
    color: white;
    transition: all 0.3s;
    margin: 0px;
    gap: 10px;
}

.logout_menu span {
    grid-column: 1 / span 2;
}


.logout_menu .logout_button {
    width: 100%;
}