/* Navbar CSS */

.navbar {
    padding: 0px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--navbar_color) ;
    vertical-align: middle;
    height: 87px;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    padding: 20px;
    margin-bottom: 0px;
    justify-content: center;
    gap: 20px;
}

.navbar .nav_links {
    display: flex;
    padding-left: 0px;
}

.navbar .nav_links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar .nav_links a {
    vertical-align: middle;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.navbar .nav_links a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    text-decoration: none;
    background-color: rgb(var(--primary));
}

.navbar .nav_links a:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
}

.navbar .nav_links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .nav_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-right: 13px;
    gap: 13px;
    margin-left: auto;
}

.navbar .nav_btns li {
    list-style-type: none;
    font-size: 25px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: block;
    user-select: none;
}

.dropdown .menu {
    position: absolute;
    display: none;
    width: 242px;
    padding: 10px;
    margin-top: 70px;
    margin-right: 110px;
    left: -201px;
    background-color: #2d2d2e;
    border: 2px solid var(--border_light);
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
}

.dropdown .menu li {
    width: 100%;
    color: white;
    transition: all 0.3s ease 0s;
    padding-top: 0px;
    margin: 0px;
}

.dropdown ul li i[style] {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 0;
}

.dropdown .menu li a {
    color: white;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.dropdown .menu li a:hover {
    background-color: var(--hover_bg_color_2);
    color: white;
}

.dropdown > ul a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  color: #333;
}

#mode {
    position: absolute;
    right: 20px;
    top: 73px;
}


/* Logout */
.logout_container {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    background-color: var(--navbar_color);
    transform: translate(-50%, -50%);
    color: white;
    width: 500px;
    height: 300px;
    border-radius: 40px;
    z-index: 10;
    text-align: center;
    flex-direction: column;
}

.logout_container .title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 40px 0 10px 0;
    padding: 0px;
}

.logout_container .ques {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.logout_container .awnser {
    display: flex;
    justify-content: center;
    margin: auto 0 auto 0;
}

.logout_container .button {
    text-decoration: none;
    font-size: 20px;
    transition: all 0.4s ease 0s;
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
    height: 50px;
    color: rgb(var(--red_button));
    border: 2px solid rgb(var(--red_button));
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--navbar-color)
}

.logout_container .button:hover {
    background-color: rgb(var(--red_button));
    box-shadow: 0 0 20px rgb(var(--red_button));
    color: white;
}

#yes {
    border-color: rgb(var(--green_button));
    color: rgb(var(--green_button));
    display: flex;
    flex-direction: column;
    font-weight: 20px;
    justify-content: center;
}
#yes:hover {
    background-color: rgb(var(--green_button));
    box-shadow: 0 0 20px rgb(var(--green_button));
    color: white;
}