.ranking .heading {
    display: flex;
    background-color: var(--heading_color);
    margin: 0;
    height: 150px;
    color: #fff;
    padding: 0 10% 0 10%;
    align-items: center;
    justify-content: center;
}

.ranking .heading img {
    height: 50px;
    margin-right: 20px;
}

.ranking .ranking_table {
    width: 900px;
    margin: 20px auto 0 auto;
    color: #fff;
    background-color: var(--navbar_color);
    padding: 10px;
}

.ranking .ranking_table th {
    justify-content: space-between;
    margin: 10px;
    text-align: left;
    user-select: none;
    font-size: 15px;
}

.ranking .ranking_table .arrows {
    width: 30px;
}

.ranking .ranking_table th .po {
    cursor: pointer;
    margin-right: 5px;
}

.ranking .ranking_table th i {
    color: rgba(255, 255, 255, .5)
}

.ranking .ranking_table tbody tr:hover {
    background-color: rgba(var(--secondary), 0.5);
}

.ranking .ranking_table .td_item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ranking .ranking_table #diff {
    justify-content: space-evenly;
}



.ranking .ranking_table .country {
    user-select: none;
    color: #fff;
}

.ranking .ranking_table .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking .ranking_table .country a {
    padding: 15px;
    border-radius: 5px;
    margin: auto 0 auto 0;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.ranking .ranking_table .country .country_icon {
    padding-right: 5px;
    padding-top: 2px;
    width: 20px;
    height: 12.5px;
}