<!DOCTYPE html>
<html>
  <head>
    <title>{{data.title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div style="
    background-color: #4c4c4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
  ">
      <h1 class="title">Welcome to Soccher!</h1>
      <span style="
        margin-bottom: 10px;
      " class="content">{{data.body}}</span>
      <a style="
        background-color: rgb(95, 122, 219);
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px; 
      " href="{{data.token_link}}">Confirm your Email</a>
    </div>
    
  </body>
</html>
